# ----------------------------------
# Python
# ----------------------------------
__pycache__/
*.pyc

# ----------------------------------
# Logs
# ----------------------------------
logs/
*.log

# ----------------------------------
# VS Code
# ----------------------------------
.vscode/

# ----------------------------------
# Python virtual environment
# ----------------------------------
venv/
.env

# ----------------------------------
# Operating System
# ----------------------------------
.DS_Store
Thumbs.db